

# Intituto tecnologico de Durango
## Analítica de datos en las organizaciones
### Unidad 2 Práctica de laboratorio 2.5.2.4 : cómo trabajar con Python y SQLite














#### Nombre : Sarahi Caloso Mancillas
#### No de Control: 19040351
####  Maestro: José Gabriel Rodríguez Rivas

In [1]:
    #Paso 1: Importe los módulos.
# this is the library to talk to the database
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt
# this is to say that we want our plots to be part of this page, and not opened in a new window
%matplotlib inline

In [2]:
 #Paso 2: Conéctese a la base de datos
conn = sqlite3.connect('C:/Windows/System32/phonebook.db')

In [3]:
cur = conn.cursor()

In [4]:
#Paso 3: Ejecute una consulta.
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [5]:
cur.execute("Select * from coworkers;")
coworkers = cur.fetchall()
for coworkers in coworkers:
    print (coworkers)

('101', 'Han Solo', 'Bounty Hunter', '5556667578')
('102', 'Leia Skywalker', 'Princess', '5556542398')
('103', 'Luke Skywalker', 'Jedi', '5558963267')
('104', 'Obi-Wan Kenobi', 'Jedi', '5558963276')
('105', 'Anakin Skywalker', 'Sith Lord', '5553477621')
('106', 'Jabba The Hutt', 'Gangster', '5556613456')
('107', 'Greedo', 'Debt Collector', '5552360918')
('108', 'R2D2', 'Astro Droid', '5555210125')
('109', 'C3PO', 'Protocol Droid', '5556633345')

### 1) Proporcione el código para consultar los nombres de todas las princesas

In [6]:
cur.execute("Select name from coworkers where title='Princess';")
coworkers = cur.fetchall()
for coworkers1 in coworkers:
    print (coworkers1)

('Leia Skywalker',)

### 2) Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [7]:
cur.execute("Select name from coworkers where title='Princess' OR title='Debt Collector';")
consulta2 = cur.fetchall()
for consulta in consulta2:
    print (consulta)

('Leia Skywalker',)
('Greedo',)

### 3) Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [8]:
cur.execute("Select name,number from coworkers where title='Jedi';")
consulta3 = cur.fetchall()
for consulta in consulta3:
    print (consulta)

('Luke Skywalker', '5558963267')
('Obi-Wan Kenobi', '5558963276')

### 4) Proporcione el código para consultar los nombres de los droids.

In [9]:
cur.execute("Select name from coworkers where title lIKE '%Droid%';")
consulta4 = cur.fetchall()
for consulta in consulta4:
    print (consulta)

('R2D2',)
('C3PO',)